name: CI

on:
  push:
    branches: [ "develop" ]
  pull_request:
    branches: [ "develop" ]

jobs:
  cpython:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os:
          - ubuntu-latest
        python-version:
          - "3.12"
          - "3.13"

    steps:
    - uses: actions/checkout@v4
    - name: Set up ${{ matrix.python-version }} on ${{ matrix.os }}
      uses: actions/setup-python@v5
      with:
        python-version: ${{ matrix.python-version }}

    - name: Install dependencies
      run: |
        pip3 install --upgrade pip && python3 -V && pip3 -V
        pip3 install uv==${UV_VERSION}
        uv venv
        source .venv/bin/activate
        uv sync --all-groups


    - name: Run ruff
      run: |
        make lint

    - name: Run tests
      run: |
        pytest
